@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  src: url("/src/assets/fonts/Jost/Jost-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Evitar scroll innecesario */
}

body {
  animation: fadeInUp 1s ease-out forwards;
  background-color: #000;
  font-family: "Jost", sans-serif;
}

header,
main {
  animation: fadeInUp 1.5s ease-out forwards;
}
@layer utilities {
  .btn-outline-primary:before {
    content: "";
    width: 120%;
    height: 300%;
    position: absolute;
    left: -10%;
    bottom: -300%;
    border-radius: 90%;
    background-color: #000;
    transition: all 0.2s ease-in;
    z-index: -1;
  }

  .btn-outline-primary:hover:before {
    bottom: -100%;
  }

  .btn-outline-primary:hover {
    color: white;
    transform: translateY(3px);
  }

  .animate-gradient-x {
    background-size: 400% 400%;
    animation: gradientMovement 15s ease infinite;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientMovement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
