---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="FNDRS - Software Agency">
  <div class="flex justify-center items-center h-[calc(100vh-80px)]">
    <div class="text-center">
      <h1 class="text-6xl font-bold">FNDRS</h1>
      <h2 class="text-3xl">Solutions in Software Development and Technology</h2>
    </div>
  </div>
</Layout>
