---
interface ButtonProps {
  text: string;
  handleSubmit?: (event: Event) => void;
}

const { text }: ButtonProps = Astro.props as ButtonProps;
---

<button class="text-center">
  <div
    class="btn-outline-primary inline-block relative overflow-hidden text-primary-black font-semibold px-6 py-3 text-center transition-all duration-300 ease-in-out min-w-[200px] bg-white border-black hover:bg-primary-black rounded-md"
  >
    <span class="hover:text-white">{text}</span>
  </div>
</button>
