---
import Button from "./Button.astro";
---

<header class="flex justify-between items-center w-full h-[80px] py-4 px-8">
  <h1 class="font-bold text-3xl">FNDRS</h1>
  <!--  <nav>
    <ul class="flex space-x-4 font-medium text-md text-gray-400">
      <li class="hover:text-white hover:transition hover:duration-500">
        <a href="/">Home</a>
      </li>
      <li>
        <span>/</span>
      </li>
      <li class="hover:text-white hover:transition hover:duration-500">
        <a href="/about">About</a>
      </li>
      <li>
        <span>/</span>
      </li>
      <li class="hover:text-white hover:transition hover:duration-500">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav> -->
  <!-- <p class="text-xl">About us</p> -->
</header>
