---
import Button from "./Button.astro";
---

<div
  class="bg-[#292929] gap-2 rounded-md mt-4 flex justify-between items-center pl-8 text-left w-[80%]"
>
  <div class="grow">
    <input
      class="text-white text-2xl placeholder:text-2xl text-left w-full grow bg-[#292929] border-none outline-none ring-0"
      value=""
      placeholder="Enter your email address"
    />
  </div>
  <div class="m-1">
    <Button text="Notify Me" />
  </div>
</div>
