---
import Header from "src/components/Header.astro";
import { BASE_URL, BASE_DOMAIN } from "src/utils";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta
      name="description"
      content="Official landing page of FNDRS: solutions in software development and technology."
    />
    <meta name="viewport" content="width=device-width" />

    <meta
      property="twitter:description"
      content="Official landing page of FNDRS: solutions in software development and technology."
    />

    <meta property="og:site_name" content={BASE_DOMAIN} />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Official landing page of FNDRS: solutions in software development and technology."
    />
    <meta property="og:url" content={BASE_URL} />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-primary-black text-white">
    <Header class="fadeInUp" />
    <main class="fadeInUp">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  body {
    animation: fadeInUp 1s ease-out forwards;
  }

  header,
  main {
    animation: fadeInUp 1.5s ease-out forwards;
  }
</style>
